<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container pt-5" id="app">
        <div class="row mb-3">
            <div class="col">
                <h1>Cars application</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="search">find your car</label>
                    <input 
                        type="text" class="form-control" id="search" name="input-search" placeholder="name"
                        v-model="search"
                    >
                </div>
                <hr>
                <ul class="list-group">
                    <li 
                        v-for="(car, index) in filteredCars"
                        class="list-group-item list-group-item-action"
                        @click="selectCar(index)"
                        :class="{'active': activeCarIndex === index}"
                    >
                        {{ car.name }} - {{ car.model }}
                    </li>
                    
                </ul>
            </div>
            <div class="col-md-8 pt-4">
                <div class="row">
                    <div class="col-md-5">
                        <h2>{{ activeCar.name}}</h2>
                        <img 
                        :src="activeCar.image" 
                        :alt="activeCar.image" 
                        class="responsive-img">
                    </div>
                    <div class="col-md-7 pt-2">
                        <h3>Car detail</h3>
                        <ul>
                            <li>
                                model <strong>{{activeCar.model}}</strong>
                            </li>
                            <li>
                                year <strong>{{activeCar.year}}</strong>
                            </li>
                            <li>
                                owner <strong>{{activeCar.owner}}</strong>
                            </li>
                            <li>
                                published <strong>{{activeCar.published | date}}</strong>
                            </li>
                        </ul>
                        <p class="phone-block">
                            <transition name="phone">
                                <a href="" v-if="phoneVis">
                                    {{activeCar.phone}}
                                </a>  
                            </transition>
                        </p>
                        <button 
                            class="btn btn-outline-success mr-3"
                            @click="phoneVis = !phoneVis"
                        >
                            {{ phoneBtnText }}
                        </button>
                        <button class="btn btn-primary" @click="modalVis = true">Buy</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="app.js"></script>

</body>
</html>