.responsive-img{
    height: 200px;
}
.phone-block{
    height: 36px;
}
.modal{
    display: block;
}

.phone-enter-active, .phone-leave-active {
    transition: all .5s;
}
.phone-enter, .phone-leave-to{
    opacity: 0;
}